@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Shrikhand&family=Yuji+Boku&display=swap');

.title-container{
display: flex;
flex-direction: row;
justify-content: center ;
 color: rgba(0, 10, 14, 0.981);
 font-family: boku;
 margin-top: 2rem;
 border-bottom: 1px solid rgba(98, 104, 160, 0.099);

 
} 

div h1:hover{
    cursor: default;
}

#image{
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    box-shadow:  1px 9px 144px 5px #03b2f7;
    border-radius: 2rem;
    margin-left: 6rem;
}

#image:hover{
    -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
    
   
   
}


.bio-info{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: x-large;
    animation-name: text;
    animation-duration: 4s;
   
}

@keyframes text {
    0%   {color:rgb(0, 0, 0)}
    25%  {color:rgb(238, 219, 11)}
    25%  {font-size:xx-large;}
  }

 .skills-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: default;
    font-family: boku;
    color: rgba(15, 9, 1, 0.981);
    margin-top: 2rem;
    height: 5rem;
   


} 


h1{
    font-size: 3.5rem !important;
}

.technologies{
    text-align: center;
    border-radius: 9000rem !important;
    block-size: 5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    animation-name: tech;
    animation-duration: 2s;
    animation-iteration-count: 1;
    
}

.technologies:hover{
    block-size: 6rem !important;
}


@keyframes tech {
    0%   {background-color:rgb(0, 0, 0)}
    25%  {background-color:rgb(191, 11, 11)}
    50%  {block-size: 4000rem}
  
    
  }

  .gitty{
      margin-left: 3rem;
      padding-left: .2rem;
      background-color: rgba(18, 176, 134, 0.886);
     
  }

  .react-color{
      background-color: rgba(26, 0, 0, 0.886);
      
  }












