@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Shrikhand&family=Yuji+Boku&display=swap');

.title-container{
display: flex;
flex-direction: row;
justify-content: center ;
 color: rgba(22, 128, 177, 0.981);
 font-family: Boku;
 margin-top: 2rem;
 border-bottom: 1px solid rgba(98, 104, 160, 0.099);
 
} 

div h1:hover{
    color: rgba(22, 177, 110, 0.981) !important;
    cursor: default;
}

#image{
    /* display: inline; */
 
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    box-shadow:  1px 9px 144px 5px #03b2f7;
    border-radius: 2rem;
    margin-left: 6rem;
}


.bio-info{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: large;
    border-bottom: 1px solid rgba(98, 104, 160, 0.268);
    animation-name: text;
    animation-duration: 4s;
   
   
}

@keyframes text {
    0%   {color:rgb(0, 0, 0)}
    25%  {color:rgb(11, 92, 191)}
    25%  {font-size:xx-large;}
  
    
  }

.skills-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: default;
    font-family: boku;
    color: rgba(22, 128, 177, 0.981);
    margin-top: 4rem;
    background-color: rgba(4, 0, 19, 0.66) !important;
    border-radius: 3rem;
    height: 24rem;
    
 
}




