.contact-title{
display: flex;
flex-direction: row;
justify-content: center ;
 color: rgba(0, 0, 0, 0.981);
 font-family: boku;
 margin-top: 2rem;
 border-bottom: 1px solid rgba(98, 104, 160, 0.099);
 

}



#contact-me{
    background-color: rgb(6, 238, 138);
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
   font-size: 2.5rem !important;
   margin-top: 3rem;
 text-align: center;
    color: rgb(0, 5, 7);
    font-family:monospace;
    border-radius: 40rem;
  
 
  
}

.contact-info{
    margin-top: 5.7rem;
    color: rgb(250, 249, 249);
    font-weight: 700;
    font-size: 1.2rem;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
   text-align:center;
   box-shadow: 0px 0px 7px -1px #000000;
   transition: color 2s;
   transition: font-size 3s;
   
}

.contact-info:hover{
    font-size: 1.6rem;
    color:rgb(7, 0, 0);
}






@media (max-width:600px){
   

    .row{
        margin-left: 1.5rem !important;
    }

  .contact-info{
      margin-top: 3.5rem;
      width: 80% ;
     
  }

  

}

