
.text-copyright{
    color: white;
}

.footer-color{
    background-color: rgb(27, 29, 29);
    text-align: center !important;
 
}


.icons{
    color: rgb(196, 169, 15) !important; 
    margin-right: 1rem;
    
}

div.card{
    background-color: rgb(27, 29, 29) !important;
}