.projects-title{
    display: flex;
    flex-direction: row;
    justify-content: center ;
     color: rgba(22, 128, 177, 0.981);
     font-family: boku;
     margin-top: 2rem;
     border-bottom: 1px solid rgba(98, 104, 160, 0.099);
     
    } 
  

    .frontend-title{
        display:block;
        margin-top: 2rem;
        width: 44%;
        margin-left: 28%;
        text-align: center;
        color: rgb(243, 8, 8);
        font-family: -apple-system;
        background-color: rgba(255, 255, 255, 0.096);
        text-align: center;
        
    }


    
