@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');



.projects-title{
    display: flex;
    flex-direction: row;
    justify-content: center ;
     color: rgba(0, 0, 0, 0.981);
     font-family: boku;
     margin-top: 2rem;
     border-bottom: 1px solid rgba(98, 104, 160, 0.099);
     
    } 
  

    .frontend-title {

        display:block;
        margin-top: 3rem !important;
        width: 200px;
        margin-left: auto;
        margin: auto;
        text-align: center;
        color: rgb(0, 0, 0);
        font-family:monospace;
        text-align: center;
        box-shadow:  1px 9px 100px 5px #03f70f;
        background-color: rgb(2, 230, 177);
        border-radius: 3rem;
    }

    .card-title {
        background-color: rgb(13, 179, 197);
        font-size: 2rem !important;
        margin-top: 3rem !important;
        border-radius: 3rem;
        animation: mymove 4s ease-in-out;
        animation-iteration-count: 1;
      

    }

    .frontendone-description{
        color:rgb(251, 251, 251);
        text-align: center !important;
        font-weight: 700 !important; 
    }

    .frontendone-description:hover{
        font-size: 1.5rem ;

    }

    .homegrown-image{
        margin-top: 3rem; 
        box-shadow:  1px 9px 100px 5px #03f7a6a2;
        border-radius: 3rem !important; 
        border-color: rgb(117, 8, 242);
        animation: mymove 4s ease-in-out;
        animation-iteration-count: 1;
    }


    .homegrown-buttons{
        display: flex;
        width: 100%;
        justify-content:space-evenly;
       text-align: center;

    }

    .homegrown-buttons:hover{
        animation: shakebutton 0.5s;
        animation-iteration-count: 1;
    }


    .frontendone-title{
        color:white;
        text-align: center;
    }

    

    .tech-used{
        text-align: center;
        border-radius: 9000rem !important;
        block-size: 4rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding-left: 1rem;
        animation: mymove 4s ease-in-out;
        animation-iteration-count: 1;
        
    }

    
    
    .tech-used:hover{
        block-size: 6rem !important;
    }

    
    #technologies-used-title{
    
        background-color:  rgba(13, 44, 197, 0.568);
        font-size: larger;
        margin-top: 2rem !important;
        border-radius: 3rem;
    }



    .teamprofile-image{
        margin-top: 3rem; 
        box-shadow:  1px 9px 100px 5px #03f7a6a2;
        border-radius: 3rem !important; 
        border-color: rgb(12, 242, 8);
        animation: mymove 4s ease-in-out;
        animation-iteration-count: 1;

    }

    .frontendtwo-title{
        color:white;
        text-align: center;
    }

    .frontendtwo-description{
        color:rgb(251, 251, 251);
        text-align: center !important;
        font-weight: 700 !important;

    }

    .frontendtwo-description:hover{
        font-size: 1.5rem ;
    }


    .teamprofile-buttons{
       display: flex;
        width: 100%;
        justify-content:space-evenly;
       text-align: center;
       
    }

    .teamprofile-buttons:hover{
    animation: shakebutton 0.5s;
    animation-iteration-count: 1;
    }


    .backend-title{
        display:block;
        margin-top: 3rem !important;
        width: 200px;
        margin-left: auto;
        margin: auto;
        text-align: center;
        color: rgb(0, 0, 0);
        font-family:monospace;
        text-align: center;
        box-shadow:  1px 9px 100px 5px #6103f7;
        background-color: rgb(108, 230, 2);
        border-radius: 3rem;
    }


.progressive-image{
    margin-top: 3rem; 
    box-shadow:  1px 9px 100px 5px #03f7a6a2;
    border-radius: 3rem !important; 
    border-color: rgb(12, 242, 8);
    animation: mymove 4s ease-in-out;
    animation-iteration-count: 1;
}


.progressive-title{
    color:white;
    text-align: center;

}


.progressive-description{
    color:rgb(251, 251, 251);
    text-align: center !important;
    font-weight: 700 !important;

}

.progressive-description:hover{
    font-size: 1.5rem;
}

.progressive-buttons{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
   text-align: center;
   
}


.progressive-buttons:hover{
    animation: shakebutton 0.5s;
    animation-iteration-count: 1;
}

.fullstack-title{
    display:block;
    margin-top: 3rem !important;
    width: 200px;
    margin-left: auto;
    margin: auto;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:monospace;
    text-align: center;
    box-shadow:  1px 9px 100px 5px #6103f7;
    background-color: rgba(230, 13, 2, 0.886);
    border-radius: 3rem;

}

.flamengo-image{
    margin-top: 3rem; 
    box-shadow:  1px 9px 100px 5px #03f7a6a2;
    border-radius: 3rem !important; 
    border-color: rgb(12, 242, 8);
    animation: mymove 4s ease-in-out;
    animation-iteration-count: 1;
}

.flamengo-title{
    color:white;
    text-align: center;
}

.flamengo-description{
    color:rgb(251, 251, 251);
    text-align: center !important;
    font-weight: 700 !important;

}

.flamengo-description:hover{
    font-size: 1.5rem;
}

.flamengo-buttons{
    display: flex;
    width: 100%;
    justify-content:space-evenly;
   text-align: center;

}

.flamengo-buttons:hover{
    animation: shakebutton 0.5s;
    animation-iteration-count: 1;
}
   
   









    @keyframes shakebutton {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }


    @keyframes mymove {
        from {padding-left: 1200px;}
        to {margin-top: 0px;}
      }


    @media (max-width:600px){
        .frontendone-title{
            margin-top: 1rem !important;
    
        }
    }

